# Server
PORT=<int>
DOMAIN=<host:port>
PROTOCOL=<http|https>

# Prisma database connection
DATABASE_URL=postgresql://<user>:<password>@<host>:<port>/<db>?sslmode=prefer

# Security
JWT_ACCESS_SECRET=<string>
JWT_REFRESH_SECRET=<string>

# Email
EMAIL_HOST=<string>
EMAIL_PORT=<int>
EMAIL_USER=<string>
EMAIL_PASSWORD=<string>
EMAIL_REDIRECT_URL=<url>

# Email Security
JWT_CONFIRMATION_SECRET=<string>

# Payeer
PAYEER_ACCOUNT=<string>
PAYEER_SHOP_ID=<string>
PAYEER_SHOP_KEY=<string>
PAYEER_API_ID=<string>
PAYEER_API_PASSWORD=<string>
PAYEER_REDIRECT_URL=<url>
PAYEER_HOOK_URL=<url>

# Flow
FLOW_CHAIN=<mainnet|testnet|emulator>
FLOW_ACC_ADDRESS=<string|ex:0xf8d6e0586b0a20c7>
FLOW_PRIVATE_KEY=<string>
FLOW_MAX_PUB_KEY_IX=<int>
FLOW_LIMIT=<int>

# Pinata
PINATA_KEY=<string>
PINATA_SECRET=<string>
PINATA_JWT=<string>
PINATA_GATEWAY_URL=https://<mygateway>.mypinata.cloud/

# Graffle
GRAFFLE_COMPANY_ID=<guid>
GRAFFLE_SECRET_BASE64=<base64>
